.ourequipment {
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 160px;
    box-sizing: border-box;
    background-image: url("/img/2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 40px;
}

.equipment-title {
    flex: 0 0 65px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-top: 40px;
}

.equipment-container {
    flex: 0 0 900px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.equipment-description {
    flex: 0 0 500px;
    height: 840px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    p {
        margin: 0;
        text-align: justify;
        line-height: 1.5;
        font-size: 20px;
        font-weight: 600;
    }
}

.image-container {
    flex: 0 0 940px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 600px;
    width: 940px;
    margin-left: 60px;
    margin-top: 20px;
}

.equipment-image-container1,
.equipment-image-container2 {
    flex: 0 1 290px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 940px;
}

.equipment-image-container2 {
    margin-top: 40px;
}

.equipment-image1,
.equipment-image2,
.equipment-image3,
.equipment-image4,
.equipment-image5,
.equipment-image6,
.equipment-image7 {
    flex: 0 0 220px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(199, 203, 206, 0.89);
    cursor: pointer;
    transition: all .6 ease;
    &:hover {
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
        transform: scale(1.1);
    }
}

.equipment-image2,
.equipment-image3,
.equipment-image4,
.equipment-image6,
.equipment-image7 {
    margin-left: 30px
}

.equip-img1,
.equip-img2,
.equip-img3,
.equip-img4,
.equip-img5,
.equip-img6,
.equip-img7 {
    flex: 0 0 180px;
    align-self: stretch;
    width: 100%;
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.equip-img1 {
    background-image: url("/img/remote-control1.jpg");
}

.equip-img2 {
    background-image: url("/img/rotor-spray2.jpg");
}

.equip-img3 {
    background-image: url("/img/static-spray1.jpg");
}

.equip-img4 {
    background-image: url("/img/drop3.jpg");
}

.equip-img5 {
    background-image: url("/img/valve-box1.jpg");
}

.equip-img6 {
    background-image: url("/img/electric-valve.jpg");
}

.equip-img7 {
    background-image: url("/img/lighting1.jpg");
}

.equip-title {
    flex: 0 1 220px;
    display: flex;
    height: 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        margin: 0;
        margin-bottom: 10px;
        margin-top: 3px;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }
}

.equip-container-btn {
    flex: 0 0 50px;
    height: 42px;
    width: 185px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    cursor: pointer;
}

.equipbtn {
    flex: 0 0 185px;
    display: flex;
    height: 42px;
    background-color: rgb(51, 148, 59);
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 10px;
    font-size: 17px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-left: 35px;
    outline: none;
    transition: .6 ease;
    cursor: pointer;
    &:hover {
        background-color: rgba(30, 117, 37, 0.884);
    }
}

.equip-arrow {
    position: absolute;
    flex: 0 0 15px;
    height: 15px;
    width: 15px;
    align-self: center;
    margin-left: 60px;
    padding-bottom: 20px;
}

.equipment-image6 .equip-title p,
.equipment-image7 .equip-title p {
    margin-top: 3px;
    margin-bottom: 3px;
}

.appear-modal {
    display: none;
    position: fixed;
    z-index: 50;
    padding-top: 100px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 30px;
    border: 1px solid rgb(136, 136, 136);
    width: 700px;
    height: 800px;
}

#close_btn-modal1,
#close_btn-modal2,
#close_btn-modal3,
#close_btn-modal4,
#close_btn-modal5,
#close_btn-modal6,
#close_btn-modal7 {
    color: rgb(170, 170, 170);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
        color: rgb(0, 0, 0);
    }
}

.modal-container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 800px;
    width: 600px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    h2 {
        flex: 0 1 40px;
        height: 40px;
        width: 600px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    h3 {
        flex: 0 1 20px;
        height: 20px;
        width: 600px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 75px;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
    }
}

.modal-description-container {
    flex: 0 1 600px;
    height: 600px;
    width: 600px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

.modal-img1,
.modal-img2,
.modal-img3,
.modal-img4,
.modal-img5,
.modal-img6,
.modal-img7 {
    flex: 0 1 220px;
    height: 190px;
    width: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.modal-img1 {
    background-image: url("/img/remote-control2.jpg");
    +.modal-description p {
        margin-top: 80px;
        font-size: 18px;
        line-height: 1.5;
    }
}

.modal-img2 {
    background-image: url("/img/rotor-spray2.jpg");
    +.modal-description p {
        margin-top: 60px;
        font-size: 17px;
        line-height: 1.5;
    }
}

.modal-img3 {
    background-image: url("/img/static-spray2.jpg");
    +.modal-description p {
        margin-top: 60px;
        font-size: 17px;
        line-height: 1.5;
    }
}

.modal-img4 {
    background-image: url("/img/drop3.jpg");
    margin-top: -45px;
    +.modal-description {
        >p:nth-child(1) {
            margin-top: 25px;
            font-size: 17px;
            line-height: 1.3;
            margin-bottom: 0;
        }
        >p:nth-child(2),
        >p:nth-child(4),
        ul:nth-child(3) {
            margin: 0;
            margin-top: 7px;
        }
        ul:nth-child(5) {
            margin-top: 5px;
        }
    }
}

.modal-img5 {
    background-image: url("/img/valve-box2.jpg");
    margin-top: -40px;
    +.modal-description {
        >p:nth-child(1) {
            margin-top: 35px;
            font-size: 17px;
            line-height: 1.3;
            margin-bottom: 0;
        }
        >p:nth-child(2) {
            margin-top: 15px;
            font-size: 17px;
            line-height: 1.3;
            margin-bottom: 0;
        }
        >ul {
            margin-top: 15px;
        }
    }
}

.modal-img6 {
    background-image: url("/img/electric-valve.jpg");
    margin-top: -30px;
    +.modal-description {
        >p:nth-child(1) {
            margin-top: 40px;
            font-size: 17px;
            line-height: 1.3;
            margin-bottom: 0;
        }
        >p:nth-child(2) {
            margin-top: 15px;
            font-size: 17px;
            line-height: 1.3;
            margin-bottom: 0;
        }
        >ul {
            margin-top: 15px;
            li {
                font-size: 17px;
                line-height: 1.5;
            }
        }
    }
}

.modal-img7 {
    background-image: url("/img/lighting2.jpg");
    margin-top: -40px;
    +.modal-description {
        >p:nth-child(1) {
            margin-top: 30px;
            font-size: 17px;
            line-height: 1.3;
            margin-bottom: 0;
        }
        >p:nth-child(2) {
            margin-top: 15px;
            font-size: 17px;
            line-height: 1.3;
            margin-bottom: 0;
        }
        >ul {
            margin: 0;
            margin-top: 10px;
            li {
                font-size: 17px;
                line-height: 1.3;
            }
        }
    }
}

.modal-description {
    flex: 0 1 600px;
    height: 600px;
    width: 600px;
    p {
        font-size: 17px;
        line-height: 1.3;
        text-align: justify;
        margin-top: 40px;
        font-family: 'Roboto', sans-serif;
    }
    ul li {
        font-size: 16px;
        line-height: 1.3;
        font-family: 'Roboto', sans-serif;
    }
}